<div class="encounter-left-nav">
  <ul style="list-style: none;">
    <li style="padding-top: 35px; padding-bottom: 35px;"><button class="encounter-btn-nav" autofocus>Calendar</button></li>
    <li style="padding-bottom: 35px;"><button class="encounter-btn-nav">Resolutions</button></li>
    <li style="padding-bottom: 35px;"><button class="encounter-btn-nav">Materials</button></li>
    <li style="padding-bottom: 35px;"><button class="encounter-btn-nav">Commitments</button></li>
    <li style="padding-bottom: 35px;"><button class="encounter-btn-nav">Structure</button></li>
  </ul>
</div>