<div class="admin-left-nav">
  <ul style="list-style: none;">
    <li style="padding-top: 25px; padding-bottom: 25px;"><button class="admin-btn-nav" autofocus>User Management</button></li>
    <li style="padding-bottom: 25px;"><button class="admin-btn-nav">Encounter Management</button></li>
    <li style="padding-bottom: 25px;"><button class="admin-btn-nav">Case Study Management</button></li>
    <li style="padding-bottom: 25px;"><button class="admin-btn-nav">Inspiration Management</button></li>
    <li style="padding-bottom: 25px;"><button class="admin-btn-nav">A.F.I.R.E. Management</button></li>
  </ul>
</div>