<div style="width: 80%; height: 125px; border: 1px black solid; margin-left: auto; margin-right: auto; background-color: #505050;">
  <app-banner></app-banner>
</div>
<div style="width: 80%; margin-left: auto; margin-right: auto;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="width: 200px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" style="width: 110px; border: 1px solid black; text-align: center;" [routerLink]="'/home'">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="width: 110px; border: 1px solid black; text-align: center;" [routerLink]="'/members'">Members</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="width: 110px; border: 1px solid black; text-align: center;" [routerLink]="'/afire'">A.F.I.R.E.</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="width: 110px; border: 1px solid black; text-align: center;" [routerLink]="'/encounters'">Encounters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="width: 110px; border: 1px solid black; text-align: center;" [routerLink]="'/case-studies'">Case Studies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="width: 110px; border: 1px solid black; text-align: center;" [routerLink]="'/inspiration'">Inspiration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="width: 110px; border: 1px solid black; text-align: center;" [routerLink]="'/links'">Links</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="width: 110px; border: 1px solid black; text-align: center;" [routerLink]="'/admin'">Admin</a>
        </li>
      </ul>
      <span class="navbar-text">
        Login
      </span>
    </div>
  </nav></div>
<div>
  <router-outlet></router-outlet>
</div>
