<div class="afire-left-nav">
  <ul style="list-style: none;">
    <li style="padding-top: 25px; padding-bottom: 25px;"><button class="afire-btn-nav" autofocus>Team Roster</button></li>
    <li style="padding-bottom: 25px;"><button class="afire-btn-nav">Apostolate</button></li>
    <li style="padding-bottom: 25px;"><button class="afire-btn-nav">Formation</button></li>
    <li style="padding-bottom: 25px;"><button class="afire-btn-nav">Integration</button></li>
    <li style="padding-bottom: 25px;"><button class="afire-btn-nav">Recruitment</button></li>
    <li style="padding-bottom: 25px;"><button class="afire-btn-nav">Economy</button></li>
  </ul>
</div>