<div class="component-container">
  <div class="component-header">
    <p><i>Welcome to the RC Jax Men's Site</i></p>
  </div>
</div>
<div style="width: 80%; margin-left: auto; margin-right: auto;">
  <div style="width: 32%; height: 501px; border: 1px black solid; display: inline-block; background-color: #303030;">
    <div class="wraptocenter">
      <img src="../../assets/host.png" alt="Monstrance" width="88%" height="100%">
    </div>
  </div>
  <div style="width: 36%; height: 400px; border-top: 1px solid black; margin-left: auto; margin-right: auto; display: inline-block;">
    <ngb-carousel #carousel interval="1000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
      <ng-template ngbSlide *ngFor="let img of images; index as i">
        <div class="carousel-caption">
          <h3>My slide {{i + 1}} title</h3>
        </div>
        <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
          <div class="picsum-img-wrapper">
            <img [src]="img" alt="My image {{i + 1}} description">
          </div>
        </a>
      </ng-template>
    </ngb-carousel>
  </div>
  <div style="width: 32%; height: 501px; border: 1px black solid; display: inline-block; background-color: #303030;">
    <div class="wraptocenter">
      <img src="../../assets/king.png" alt="Christ the King" width="88%" height="100%">
    </div>
  </div>
</div>